<footer class="container-fluid text-center foot">

    <div class="copyrights">
        <p class="white-txt">Kuepa.com

            <img class="footimg" src="../../../assets/img/Kuepa.PNG" alt="Logo">
        </p>
        <hr class="dark-line">
        <a class="link" href="#">Contact Us</a>
        <a class="link" href="#">Privacy Policy</a>
        <a class="link" href="#">Terms & Conditions</a>
        <br><br>
        <p class="white-txt small">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare elit odio, eu imperdiet ligula ullamcorper sed.
        </p>
    </div>
</footer>