.container-home {
    padding-left: 19px;
}

.container-button {
    bottom: -31px;
    &__search {
        width: 64%;
        border-radius: 6px;
        background: black;
        color: white;
    }
}