<div class="container">
    <!-- titulo -->
    <div class="row">
        <h3>
            Reporte de estudiantes
        </h3>
    </div>
    <br>
    <br>
    <!-- Fin titulo -->
    <!-- Seccion de filtros -->
    <div class="row">
        <div class="col-md-6">
            <div class="row">


                <div class="col-md-6">
                    <ejs-dropdownlist id='elementos' [dataSource]='data'></ejs-dropdownlist>
                </div>
                <div class="col-md-6">
                    <ejs-daterangepicker></ejs-daterangepicker>
                </div>
            </div>

        </div>

    </div>
    <!-- Fin Seccion de filtros -->
</div>